# API CONFIG
NODE_ENV='development'
SERVER_PORT='3001'

FRONTEND_URL='localhost:3000'
ALLOWED_ORIGINS='localhost:3000'

# DATABASE CONFIG
DB_DATABASE_BETMETRICA='platform_boilerplate'
DB_USERNAME_BETMETRICA='docker'
DB_PASSWORD_BETMETRICA='docker'
DB_HOST_BETMETRICA='localhost'
DB_PORT_BETMETRICA='1433'
# # DATABASE_URL=sqlserver://${DATABASE_HOST}:${DATABASE_PORT};database=${DATABASE_NAME};user=${DATABASE_USERNAME};password=${DATABASE_PASSWORD};encrypt=true
DATABASE_URL='sqlserver://localhost:1433;database=platform_boilerplate;user=docker;password=docker;encrypt=false'

# SENDGRID CONFIG
SENDGRID_EMAIL='email@email.com'
SENDGRID_API_KEY='SG.alguma-coisa'

# JWT CONFIG
JWT_ACCESS_SECRET='access_secret'
JWT_REFRESH_SECRET='refresh_secret'