# API CONFIG
NODE_ENV='development'
SERVER_PORT='3001'

FRONTEND_URL='localhost:3000'
ALLOWED_ORIGINS='localhost:3000'

# DATABASE CONFIG
DB_DATABASE='nest_boilerplate'
DB_USERNAME='docker'
DB_PASSWORD='docker'
DB_HOST='localhost'
DB_PORT='5432'
# # DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}
DATABASE_URL='postgresql://docker:docker@localhost:5432/nest_boilerplate'

# SENDGRID CONFIG
SENDGRID_EMAIL='email@email.com'
SENDGRID_API_KEY='SG.alguma-coisa'

# JWT CONFIG
JWT_ACCESS_SECRET='access_secret'
JWT_REFRESH_SECRET='refresh_secret'

test